body {width:1020px; font-size: 13px; background: none !important;}
   *{	box-sizing: border-box;}
    *[class|=col-]{float:left;}
    
    .col-lg-1,.col-sm-1,.col-md-1,
    .col-xs-1{width:7.33333333%;
    }
    .col-lg-2,.col-sm-2,.col-md-2,
    .col-xs-2{width:15.66666667%;}
    
    .col-lg-3,.col-sm-3,.col-md-3,
    .col-xs-3{width:24%;}
    
    .col-lg-4,.col-sm-4,.col-md-4,
    .col-xs-4{width:32.33333333%;}
    
    .col-lg-5,.col-sm-5,.col-md-5,
    .col-xs-5{width:40.66666667%;}
    
    .col-lg-6,.col-sm-6,.col-md-6,
    .col-xs-6{width:49%;}
    
    .col-lg-7,.col-sm-7,.col-md-7,
    .col-xs-7{width:57.33333333%;}
    
    .col-lg-8,.col-sm-8,.col-md-8,
    .col-xs-8{width:65.66666667%;}
    
    .col-lg-9,.col-sm-9,.col-md-9,
    .col-xs-9{width:74%;}
    
    .col-lg-10,.col-sm-10,.col-md-10,
    .col-xs-10{width:82.33333333%;}
    
    .col-lg-11,.col-sm-11,.col-md-11,
    .col-xs-11{width:90.66666667%;}
    
    .col-lg-12,.col-sm-12,.col-md-12,
    .col-xs-12{width:100%;}

   .panel-default-pdf{page-break-after: always;}
   .margintoppdf{height:50px;overflow:hidden;margin:0;padding:0;}
    #toperiod{width:60%}
    #fromperiod{width:60%}
    #footer, #header, #nav, #createpdf, button, form, input[type="button"]{display:none;}
    main.container{background: #fff}
    .top-3-area-print{text-align:left !important;width:100% !important;} 
    .stylefloat{float:left;}
    * {
  overflow: visible !important;
}

